@import "~bootstrap/scss/bootstrap";

#project-name, #number-of-groups, #students-per-group {
    display: inline;
    font-weight: bold;
}

.status-table th{
    font-weight: 400;
}

#project_id {
    display: none;
}

.dropdown-button {
    width: 100%;
}

#project_Create_Project, #teacher_Register, #student_Add_student{
    background-color: gray;
    border-color: gray;
}

td, th {
    text-align: center;
}

.project-table td {
    text-align: left;
}

.project-table th {
    text-align: left;
}

.delete_button, .delete_button:hover {
    color: ghostwhite;
}
.link-to-status-page:hover {
    text-decoration: none;
}
