@import "~bootstrap/scss/bootstrap";

#project-name, #number-of-groups, #students-per-group {
    display: inline;
    font-weight: bold;
}

.status-table th{
    font-weight: 400;
}

.row {
    margin: 1em 0 0 1em;
}

.col {
    margin: 0 2em 2em 0;
}

.group {
    width: 70%;
}

.dropdown-button {
    width: 100%;
}

.add-button, .dropdown-button {
    margin-top: 0;
}

.students-table-placeholder, .group {
    margin-bottom: 0;
}

.groups-title-col {
    margin: 0;
}

#project_Create_Project, #teacher_Register, #student_Add_student{
    background-color: gray;
    border-color: gray;
}

td, th {
    text-align: center;
}

.project-table td {
    text-align: left;
}

.project-table th {
    text-align: left;
}
.delete_button, .delete_button:hover {
    color: ghostwhite;
}
