<nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark p-0">
    <a class="navbar-brand col-sm-3 col-md-1 mr-0"
       href="">Technical Task</a>

    <div class="w-100 order-1 order-md-0">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                {%  if(is_granted("ROLE_USER")) %}
                    <div id="board-title" contenteditable="true">
                        Create a title for your board
                    </div>
                {% endif %}
            </li>
        </ul>
    </div>

    <div class="order-2 order-md-1">
        <ul class="navbar-nav px-3">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="#">{{ app.user.username }} </a>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link"

                </li>
            {% else %}
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="">Login</a>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>